// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$content-width: 90rem;

// Colors
$light-blue: #89CFF0;
$dark-grey: #4C4C4C;
$light-grey: lighten($dark-grey, 50%);