$textSize: 2rem;

.text-viewer {
  font-size: $textSize;
  height: $textSize * 3.1;
  overflow: hidden;

  span {
    border-radius: 1rem;
    padding: 2px;
  }

  span.is-active {
    background-color: lighten(grey, 30);
  }

  span.is-invalid {
    background-color: lighten(red, 30);
  }

  span.is-valid {
    background-color: lighten(green, 50);
  }
}
